{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}

{% block content %}
<!-- Home Section -->
<div class="container container-home">
  <div class="row">
  </div>
  <div class="overlayer">
    <h1 class="headline">COLECTIV</h1>
    <p class="separator-blue"></p>
    <p class="sub-line">
      muévete libremente
    </p>
  </div>
</div>


<div class="container container-works">
  <div class="row">
  </div>
  <div class="p-title">
    <h2>¿cómo funciona?</h2>
    <p class="separator-black"></p>
    <p>
      Colectiv es un servicio de transporte compartido
      en furgonetas que, solicitado a través de nuestra
      App, te recoje donde tu quieras** y te deja donde
      tu decide, transportando simultaneamente a
      personas con rutas similares.
    </p>
  </div>
</div>

<div class="container container-advantages">
  <div class="row">
  </div>
  <div class="p-title">
    <h2>ventajas, ventajas, ventajas</h2>
    <p class="separator-black"></p>
    <div class="row">
      <div class="col-md-4">
        <h2>ecónomico</h2>
        <p>
          Desde 3€ por trayecto.
          <br />
          Precios fijos, sin sorpresas.
          <br />
          Pago por kilometro.
        </p>
        <p class="separator-black"></p>
      </div>
      <div class="col-md-4">
        <h2>rápido</h2>
        <p>
          De puerta a puerta.
          <br />
          No conduzcas.
          <br />
          No aparques
        </p>
        <p class="separator-black"></p>
      </div>
      <div class="col-md-4">
        <h2>cómodo</h2>
        <p>
          Todo con tu móvil.
          <br />
          WIFI a bordo.
          <br />
          Siéntase y disfruta.
        </p>
        <p class="separator-black"></p>

      </div>
    </div>
  </div>
</div>



<div class="container container-example">
  <div class="row">
  </div>
  <div class="p-title">
    <h2>un ejemplo real</h2>
    <p class="separator-black"></p>
  </div>
</div>


<div class="container container-sostain">
  <div class="layer-sostain">
    <div class="p-title">
      <h2 class="white">sostenibilidad</h2>
      <p class="separator-black"></p>
      <p>
        Colectiv es la solución a los problemas de tráfico
        y contaminación de ciudades como Madrid.
      </p>
    </div>
    <p>
      Nuestras ciudades necesitan un nuevo modelo de transporte
      que nos premita compartir recursos, dejar de depender del
      coche personal y, sobre todo, contaminar menos el aire que
      respiramos.
    </p>
  </div>
</div>







<!-- Contact Section -->
<div id="contact">
    <div class="container">
        <div class="section-title text-center">
            <h2>Contact Us</h2>
            <hr>
        </div>
        <div class="space"></div>

        <div class="row">
            <div class="col-md-3">
                <address>
                    <strong>Address</strong><br>
                    <br>
                    ThemeForces.Com<br>
                    Igbalangao, Bugasong, Anitque<br>
                    5704, Philippines<br>
                    Phone: (123) 456-7890
                    <ul class="social">
                        <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                        <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                        <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                        <li><a href="#"><span class="fa fa-dribbble"></span></a></li>
                      </ul>
                </address>
            </div>

            <div class="col-md-9">
                <form autocomplete="off">
                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="Your Name">
                            <input type="text" class="form-control" placeholder="Phone No.">
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="Email">
                            <input type="text" class="form-control" placeholder="Subject">
                        </div>
                    </div>
                    <textarea class="form-control" rows="4" placeholder="Message"></textarea>
                    <div class="text-right">
                        <a href="#" class="btn send-btn">Send</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
