{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}

{% block content %}
<!-- Home Section -->
<div class="container container-fluid container-home">
  <div class="row">
  </div>
  <div class="overlayer">
    <h1 class="headline">COLECTIV</h1>
    <p class="separator-blue"></p>
    <p class="p-van white">
      viaja con chofer
      a precio de autobús
    </p>
    <div class="row row-home-form" >
      <div class="col-md-12 col-home-form centered" data-spy="affix" data-offset-top="405">
        <form action="{% url 'pricing' %}" method="post">
          {% csrf_token %}
          <div id="locationField">
            <button type="submit" class="btn btn-primary btn-go-fake" disabled>Ver Precios</button>
            <input id="autocomplete_start" placeholder="Origen"
             onFocus="geolocate_start()" type="text">
           </input>
           <input id="autocomplete_start_id" name="origin" p
            onFocus="geolocate_start()" type="hidden">
          </input>
           <input id="autocomplete_end"  placeholder="Destino.."
            onFocus="geolocate_end()" type="text"></input>
            <input id="autocomplete_end_id" name="destiny"
             onFocus="geolocate_start()" type="hidden">
            <button id="btn-submit" type="submit" class="btn btn-primary btn-go" disabled>Ver Precios</button>
           </div>
        </form>
      </div>
    </div>
  </div>
</div>



<div class="container container-works">
  <div class="row">
  </div>
  <div class="p-title">
    <h2>¿cómo funciona?</h2>
    <p class="separator-black"></p>
    <p>
      Colectiv es un servicio de transporte compartido
      en furgonetas que, solicitado a través de nuestra
      App, te recoje donde tu quieras** y te deja donde
      tu decide, transportando simultaneamente a
      personas con rutas similares.
    </p>
    <div class="row row-works">
      <div class="col-md-3 col-md-offset-0 col-works">
        <div class="img-works-container vertical-center">
          <img class="img img-responsive img-works" src="{% static 'img_landing/register.png' %}"/>
        </div>
        <p class="how-subtitle">Registrate <br />en la web on en la app</p>
      </div>
      <div class="col-md-4 col-md-offset-1 col-works">
        <div class="img-works-container vertical-center">
          <img class="img img-responsive img-works" src="{% static 'img_landing/origen_destino.png' %}"/>
        </div>
        <p class="how-subtitle">Selecciona <br />origen y destino</p>
      </div>
      <div class="col-md-3 col-md-offset-1 col-works">
        <div class="img-works-container vertical-center">
          <img class="img img-responsive img-works " src="{% static 'img_landing/viaja_chofer.png' %}"/>
        </div>
        <p class="how-subtitle">Viaja con chofer <br />compartiendo gastos</p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid container-jam">
  <img class="img img-responsive" src="{% static 'img_landing/foto_atasco.png' %}"/>
  <div class="layer-jam">
    <p class="p-hombre white">
      olvida
      <br />
      los atascos
    </p>
    <p class="separator-blue"></p>
    <p class="p-hombre white">
      lee
      <br />
      juega
      <br />
      trabaja
    </p>
  </div>
</div>


<div class="container container-advantages">
  <div class="row">
  </div>
  <div class="p-title">
    <h2>ventajas, ventajas, ventajas</h2>
    <p class="separator-black"></p>
    <div class="row">
      <div class="col-md-4 centered">
        <img class="img img-responsive home-icon" src="{% static 'img_landing/cerdo.png' %}"/>
        <h2>ecónomico</h2>
        <p>
          Desde 3€ por trayecto.
          <br />
          Precios fijos, sin sorpresas.
          <br />
          Pago por kilometro.
        </p>
        <p class="separator-black"></p>
      </div>
      <div class="col-md-4">
        <img class="img img-responsive home-icon" src="{% static 'img_landing/reloj.png' %}"/>
        <h2>rápido</h2>
        <p>
          De puerta a puerta.
          <br />
          No conduzcas.
          <br />
          No aparques
        </p>
        <p class="separator-black"></p>
      </div>
      <div class="col-md-4">
        <img class="img img-responsive home-icon" src="{% static 'img_landing/sillon.png' %}"/>
        <h2>cómodo</h2>
        <p>
          Todo con tu móvil.
          <br />
          WIFI a bordo.
          <br />
          Siéntase y disfruta.
        </p>
        <p class="separator-black"></p>

      </div>
    </div>
  </div>
</div>


<div class="container-fluid container-hombre">
  <img class="img img-responsive" src="{% static 'img_landing/foto_hombre_joven.png' %}"/>
  <div class="layer-hombre">
    <p class="separator-black"></p>
    <p class="p-hombre">
      muévete a tu ritmo
    </p>
    <p class="separator-black"></p>
  </div>
</div>




<div class="container container-example">
  <div class="p-title">
    <h2>un ejemplo real</h2>
    <p class="separator-black"></p>
    <div class="row" id="row-a-b">
      <img class="img img-responsive inline" src="{% static '/img_landing/a_b_unidos.png' %}"/>
      <p>ida y vuelta, de lunes a viernes</p>
      <p style="font-size: large">CON HORARIO FLEXIBLE</p>
      <img class="img img-responsive inline icon-height" style="margin: 15px;" src="{% static '/img_landing/furgo_col.png' %}"/>
      <p style="font-size: large">175€/mes</p>
      <p style="font-size: large">(4€/trayecto)</p>
    </div>
  </div>
</div>


<div class="container container-sostain">
  <div class="container layer-sostain">
      <h2 class="subheading-blue">sostenibilidad</h2>
      <p class="separator-black"></p>
      <p>
        Colectiv es la solución a los problemas de tráfico
        y contaminación de ciudades como Madrid.
      </p>

      <div class="row row-iqual-height">
        <div class="col-md-12" style="text-align: center">
          <img class="img img-responsive" src="{% static '/img_landing/furgo_igual_coches.png' %}"/>
        </div>
      </div>

      <div class="row row-image-footer">
        <div class="col-md-6 col-md-offset-6 row-image-footer">
          <img class="img img-responsive pull-right" src="{% static '/img_landing/furgo_humo_co2.png' %}"/>
        </div>
      </div>

      <div class="row row-image-footer">
        <div class="col-md-9 col-md-offset-3">
          <img class="img img-responsive pull-right" src="{% static '/img_landing/coche_humo_co2.png' %}"/>
        </div>
      </div>
      <p class="white">
        Nuestras ciudades necesitan un nuevo modelo de transporte
        que nos premita compartir recursos, dejar de depender del
        coche personal y, sobre todo, contaminar menos el aire que
        respiramos.
      </p>

      </div>

    </div>



{% endblock content %}

{% block javascript %}

<script>
// This example displays an address form, using the autocomplete feature
// of the Google Places API to help users fill in the information.

var placeSearch, autocomplete;
var btn = document.getElementById('btn-submit');

var componentForm = {
  street_number: 'short_name',
  route: 'long_name',
  locality: 'long_name',
  administrative_area_level_1: 'short_name',
  country: 'long_name',
  postal_code: 'short_name'
};

function enableSubmit() {
  btn.disabled = false;
}

function initAutocomplete() {
  // Create the autocomplete object, restricting the search to geographical
  // location types.
  autocomplete_start = new google.maps.places.Autocomplete(
    /** @type {!HTMLInputElement} */(document.getElementById('autocomplete_start')),
    {types: ['geocode']});

  autocomplete_end = new google.maps.places.Autocomplete(
      /** @type {!HTMLInputElement} */(document.getElementById('autocomplete_end')),
      {types: ['geocode']});


  // When the user s  elects an address from the dropdown, populate the address
  // fields in the form.
}
// [START region_geolocation]
// Bias the autocomplete object to the user's geographical location,
// as supplied by the browser's 'navigator.geolocation' object.
function geolocate_start() {
  if (navigator.geolocation) {
  navigator.geolocation.getCurrentPosition(function(position) {
    var geolocation = {
      lat: position.coords.latitude,
      lng: position.coords.longitude
    };
    var circle = new google.maps.Circle({
      center: geolocation,
      radius: position.coords.accuracy
    });
    autocomplete_start.setBounds(circle.getBounds());
    /* Bogdan */
    var place_start = autocomplete_start.getPlace();
    var form_origin = document.getElementById('autocomplete_start_id');
    console.log(place_start);
    form_origin.value = place_start.id;
  });
  }
}

function geolocate_end() {
  if (navigator.geolocation) {
  navigator.geolocation.getCurrentPosition(function(position) {
    var geolocation = {
      lat: position.coords.latitude,
      lng: position.coords.longitude
    };
    var circle = new google.maps.Circle({
      center: geolocation,
      radius: position.coords.accuracy
    });
    autocomplete_end.setBounds(circle.getBounds());
    /* Bogdan */
    var place_end = autocomplete_end.getPlace();
    var form_destiny = document.getElementById('autocomplete_end_id');
    form_destiny.value = place_end.id;
    console.log(place_end);

    if (place_end || place_start){
      console.log("True");
      enableSubmit();
    }
  });
  }
}


// [END region_geolocation]
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAfrXNpIRvbO7jRvnGmz1Du34NHz1YspTI&libraries=places&callback=initAutocomplete"
    async defer></script>

{% endblock javascript %}
