{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}

{% block content %}

<div class="container-fluid container-padawaan">
  <div class="row">
    <div class="col-md-12">
      <div class="overlayer-profile">
        <h1 class="headline">COLECTIV</h1>
        <p class="separator-white"></p>
        <h2>¡Gracias por registrarte!</h2>
        <p>
          Colective es una solución a los problemas de tráfico <br />
          y contaminación de ciudades como Madrid <br />
          PERO <br />
          La legislación española no permite que exista.
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
