<!-- Off Canvas Navigation
================================================== -->
<div class="navmenu navmenu-default navmenu-fixed-left offcanvas"> <!--- Off Canvas Side Menu -->
    <div class="close" data-toggle="offcanvas" data-target=".navmenu">
        <span class="fa fa-close"></span>
    </div>
    <div class="add-margin"></div>
    <ul class="nav navmenu-nav"> <!--- Menu -->
        <li><a href="#home" class="page-scroll">Home</a></li>
        <li><a href="#meet-us" class="page-scroll">Overview</a></li>
        <li><a href="#services" class="page-scroll">Services</a></li>
        <li><a href="#works" class="page-scroll">Portfolio</a></li>
        <li><a href="#about-us" class="page-scroll">About Us</a></li>
        <li><a href="#contact" class="page-scroll">Contact Us</a></li>
    </ul><!--- End Menu -->
</div> <!--- End Off Canvas Side Menu -->
