h1, h2, h3, h4, h6, p , span, a{
  color: black;
}

.container-fluid{
  padding-left: 0px;
  padding-right: 0px;
}

 .container-home{
   height: 600px;
 }

.overlayer{
  position: absolute;
  top: 20%;
  left: 0;
  width: 100%;
}

.headline{
  text-align: center;
  font-size: 5em;
}

.separator-blue,
.separator-black,
.separator-white{
  border-bottom-style: solid;
  border-bottom-width: 2px;
  width: 6em;
  text-align: center;
  margin: auto;
}

.separator-blue{
  border-bottom-color: blueviolet;
}

.separator-black{
  border-bottom-color: black;
  margin-bottom: 3%;
  margin-top: 3%;
}

.separator-white{
  color: white;
}

.sub-line{
  text-transform: uppercase;
  text-align: center;
  text-align: center;
  margin-top: 2%;
}

.p-title{
  text-transform: uppercase;
  text-align: center;
}

p{
  text-transform: none;
  text-align: center;
}

.centered{
  text-align: center;
}

.col-home-form{
  padding: 5%;
}

.btn-go{
  border-radius: 0px;
  padding-top: 2px;
  padding-bottom: 2px;
  color: white;
  background-color: black;
  border-color: black;
  margin-left: 20px;
}

.btn-go:hover,
.btn-go:active{
  color: black;
  background-color: white;
  border-color: black;
}

#autocomplete_start,
#autocomplete_end{
  width: 230px;
}

.container-hombre,
.container-van{
  position: relative;
}

.home-icon{
  margin: auto;
  height: 80px;
}

.layer-hombre{
  position: absolute;
  top: 40%;
  left: 10%;
}

.p-hombre,
.p-van{
  text-transform: uppercase;
  margin: 20px;
}


.layer-van{
  position: absolute;
  top: 40%;
  right: 10%;
}

.white{
  color: white
}

.uppercase{
  text-transform: uppercase;
}
