$blue: #51b1cb;
$blue-dark: #4699b0;

h1, h2, h3, h4, h6, p , span, a{
  color: black;
  font-family: 'Josefin Sans', sans-serif;
}

.container-fluid{
  padding-left: 0px;
  padding-right: 0px;
}

 .container-home{
   height: 500px;
   width: 100%;
   background: url('../img_landing/fotomontaje_furgo.png') no-repeat center;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
 }

.overlayer{
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
}

.headline{
  text-align: center;
  font-size: 5em;
}

.separator-blue,
.separator-black,
.separator-white{
  border-bottom-style: solid;
  border-bottom-width: 2px;
  width: 6em;
  text-align: center;
  margin: auto;
}

.separator-blue{
  border-bottom-color: $blue;
}

.separator-black{
  border-bottom-color: black;
  margin-bottom: 3%;
  margin-top: 3%;
}

.equal{
  font-size: -webkit-xxx-large;
  margin: 3%
}

.separator-white{
  color: white;
}

.sub-line{
  text-transform: uppercase;
  text-align: center;
  text-align: center;
  margin-top: 2%;
}

.p-title{
  text-transform: uppercase;
  text-align: center;
}

p{
  text-transform: none;
  text-align: center;
}

.centered{
  text-align: center;
}

.col-home-form{
  padding: 5%;
}

.btn-go{
  border-radius: 0px;
  padding-top: 2px;
  padding-bottom: 2px;
  color: white;
  background-color: $blue;
  border-color: $blue;
  height: 30px;
}

.btn-go:hover,
.btn-go:active{
  color: white;
  background-color: $blue-dark;
  border-color: $blue-dark;
}

#autocomplete_start,
#autocomplete_end{
  width: 230px;
  height: 35px;
  border: none;
  padding-left: 10px;
  box-shadow: inset 0px 0px 1px 0px rgba(0,0,0,1);
}

.btn-go-fake{
  background-color: transparent !important;
  border-color: transparent !important;
  color: transparent !important;

}

.btn-go-fake:hover{
  cursor: none;
}



#autocomplete_start,
#autocomplete_end{
}

#autocomplete_start:focus,
#autocomplete_end:focus{
  outline: none;
}

.container-hombre,
.container-van,
.container-jam,
{
  position: relative;
}

.home-icon{
  margin: auto;
  height: 80px;
}

.layer-hombre{
  position: absolute;
  top: 40%;
  left: 10%;
}

.p-hombre,
.p-van{
  text-transform: uppercase;
  margin: 20px;
}

.container-works{
  margin-bottom: 5%;
}

.layer-van{
  position: absolute;
  top: 40%;
  right: 10%;
}

.layer-jam{
  position: absolute;
  top: 40%;
  right: 10%;
}

.white{
  color: white
}

.blue{
  color: $blue;
}

.uppercase{
  text-transform: uppercase;
}


.row-home-form{
  position: relative;
}

.container-advantages{
  margin-top: 5%;
  margin-bottom: 5%;
}

.inline{
  display: inline-block;
}

.subheading-blue{
  color: black;
  background-color: $blue;
  text-transform: uppercase;
  font-style: normal;
  text-align: center;
}

.container-example{

}

.container-sostain{
  background-image: url(../img_landing/foto_sostenibilidad.png);
  margin: 0px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% auto;
}


.row-iqual-height > img{
  height: 40px !important;
}


.icon-height{
  height: 40px !important;
}

.square{
  opacity: 0.7;
  width: 170px;
  height: 100%;
  margin: auto;
  display: inline-block;
}

.row-2{
  margin-top: 5%;
}


.row-image-footer{
  margin-top: 2%;
  margin-bottom: 2%;
}


#row-a-b{
  &:nth-child(5){
    font-size: 30px;
  }
}

.col-md-12.col-home-form.centered.affix{
  top: -40px;
  z-index: 100;
  background: white;
  width: 110%;
  padding-bottom: 10px;
}



.col-works{
  text-align: center;
  &  > p{
    text-align: center;
    margin: auto;
    bottom: 2px;
    font-weight: 700;
  }
  &  > img{
    position: relative;
    bottom: 2px;
    width: 60%;
    margin: auto;
  }
}

.vertical-center {
  text-align: center;
  width: 60%;
  height: 300px;
  display: flex;
  align-items: center;
  margin: auto;
}

.row-works{
  &:first-child > div {
    & > img{
      width: 40%;
    }
  }
}


.container-result{
  top: 60%;
  width: 100%;
  display: inline;
  height: 20%;
  position: relative;
}


.row-logo{
  padding: 2%;
}

/* Pricing  */

.img-logo{
  height: 20px;
}

.input-map-pricing{
  display: inline-block;
  border: solid black 1px !important;
  margin-left: 0px;
}


#total_distance{
  display: inline-block;
  float: right;
  position: absolute;
  right: 4%;
  top: 6%;
  font-size: 22px;
}


.row-pricing-footer{
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../img_landing/foto_taxi.png');
}


#row-pricing-colectiv{
  text-align: 10%;
  & > div > img{
    height: 40px;
  }
  padding: 5%;
}

/* Pricing  */
